<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tictactoe.examples.amorg.aut.bme.hu.tictactoe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/l1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tictactoe.examples.amorg.aut.bme.hu.tictactoe.MainMenuActivity" />
        </activity>
        <activity android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:parentActivityName=".MainMenuActivity"
            android:theme="@android:style/Theme.Dialog">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tictactoe.examples.amorg.aut.bme.hu.tictactoe.MainMenuActivity" />
        </activity>
    </application>

</manifest>
